a:hover {
  color: #3c4043;
  text-decoration: underline;
}

*,
*::after,
*::before {
  text-decoration: none;
  color: #3c4043;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  /* background-color: honeydew; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 7vh;
  font-size: small;
}

nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav > ul > li {
  padding-right: 2rem;
  /* color: rgba(255, 0, 0, 0.87); */
}

form {
  /* background-color: lightgoldenrodyellow; */
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  /* background-color: red; */
  width: 46vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
input {
  /* background-color: blue; */
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: arial, sans-serif;
  font-size: 0.875rem;
  padding: 0 1rem;
  line-height: 27px;
  height: 2.3rem;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.input {
  text-align: left;
  background-color: white;
  border: none;
  border-radius: calc(0.5 * 44px);
  color: black;
  font-size: inherit;
  outline: 0;
  padding-inline-end: 50px;
  padding-inline-start: 52px;
  position: relative;
  cursor: auto;
  height: 3rem;
  width: 35rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
  width: 272px;
  height: 92px;
}
